html {
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(238, 238, 238);
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 10px;
  width: 300px;
  min-width: 300px;
  height: 420px;
}

.hidden {
  display: none;
}

#new-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: left;
}

#new-form input[type="text"] {
  height: 35px;
  border: none;
  width: 100%;
  margin-top: 4px;
}

.form-title {
  width: 100%;
  background-color: rgb(19, 70, 129);
  height: 50px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

.form-title h3 {
  margin: 0;
  margin-left: 15px;
  padding: 10px;
  color: white;
}

.buttons {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

button {
  border-style: none;
  box-shadow: 0px 4px 3px 0px black;
  text-decoration: none;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(19, 70, 129);
  color: white;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 3px 3px 0px black;
  background-color: rgb(14, 56, 104);
}

.del-book-btn,
.read-stat-btn {
  width: 40px;
  height: 30px;
  box-shadow: none;
  background-color: rgb(197, 25, 25);
  box-shadow: 0px 2px 2px 0px black;
  border-radius: 5px;
}

.del-book-btn:hover {
  background-color: rgb(165, 20, 20);
  box-shadow: 0px 1px 1px 0px black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 90%;
}

/* spacing */

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 5%;
}

thead th:nth-child(4) {
  width: 5%;
}

thead th:nth-child(5) {
  width: 5%;
}

thead th:nth-child(6) {
  width: 5%;
}

th,
td {
  padding: 15px;
}

/* typography */

tbody th {
  text-align: left;
}

tbody td {
  text-align: center;
}

/* graphics and colors */

thead {
  color: white;
  text-shadow: 1px 1px 1px rgb(53, 51, 51);
}

thead th {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border-right: 1px solid rgb(94, 93, 93);
}

thead th:nth-child(5) {
  border-right: none;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: rgb(226, 226, 226);
}

table {
  font-size: 0.8rem;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgb(19, 70, 129);
  box-shadow: 2px 2px 10px 0px black;
}

.read-stat-btn {
  background-color: rgb(19, 70, 129);
}

.read-stat-btn:hover {
  box-shadow: 0px 1px 1px 0px black;
  background-color: rgb(14, 56, 104);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: bisque;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
header {
  background-color: bisque;
  margin-bottom: 30px;
}
header h1 {
  margin: 0;
  padding: 15px;
}
